#header {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 10px;
  flex-direction: row;
  justify-content: space-between;
}

#search-input {
  width: auto;
}

@media screen and (max-width: 600px) {
  #header {
    flex-direction: column;
  }
}
